@model List<Nop.Web.Models.Catalog.ProductOverviewModel>
@{
    Layout = "_ColumnsOne";
    ViewData["Title"] = "Auctions";
}
<div class="page-title">
    <h1>Auctions</h1>
</div>
<div class="page-body">
    <div class="product-grid">
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("~/Plugins/Auctions.Auction/Views/Shared/_AuctionBox.cshtml", item)
                </div>
            }
        </div>
    </div>
</div>
